.cardStyle{
    background-color: white;
}

.calcBtn{
    margin-top: 5;
    padding: 10;
    font-size: 20;
    background: rgba(4, 4, 10, 1);
    height: fit-content;
}

.btnWeight{
    width: 60;
    height: 60;
    font-size: 35;
    background: grey
}

Slider{
    background-color: black;
    color: black;
}

.container{
    background-color: rgba(4, 4, 10, .85);
    margin-right: 10;
    margin-left: 10;
    padding: 10;
}

CardView Label{
    color: black;
}
